PORT=3000
DATABASE_URL="postgresql://usuario:password@host/basededatos?sslmode=require"
UPSTASH_REDIS_REST_URL="https://tu-endpoint.upstash.io"
UPSTASH_REDIS_REST_TOKEN="tu-token-aqui"
JWT_SECRET="cambia-esto-por-un-texto-random"
JWT_REFRESH_SECRET="cambia-esto-por-otro-texto-random"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"